<main class="main">
    <h1 class="main__title">Nagłówek H1</h1>
    <section class="main__section">
      <div class="main__block main__block--left">
        <h2>BLOK PIERWSZY</h2>
        <label><input type="radio" name="option" value="first" [(ngModel)]="selectedOption"> Opcja pierwsza</label>
        <label><input type="radio" name="option" value="second" [(ngModel)]="selectedOption"> Opcja druga</label>
        <label><input type="radio" name="option" value="random" [(ngModel)]="selectedOption"> Opcja losowa</label>
      </div>
      <div class="main__block main__block--right">
        <h2>BLOK DRUGI</h2>
        <div class="button-container">
          <button class="main__block--right__button main__block--right__button--left" (click)="updateContent('replace')">ZASTĄP</button>
          <button class="main__block--right__button main__block--right__button--right" (click)="updateContent('append')">DOKLEJ</button>
        </div>
      </div>
    </section>
    <section class="main__content" id="content">
      <h2>Blok z długą nazwą która sama się przytnie</h2>
      <div id="textContainer">
        <span *ngFor="let text of contentTexts">{{ text }}</span>
      </div>
    </section>
    <app-footer class="footer"/>
  </main>
  